#gitignore for SolutionTxtApps in \txt_demo_c_online
#2020-07-29 v1.1.2.2[CvL]
#
Documentation/
*.vcxproj.user
.vs/
# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
/Camera/[Dd]ebug
/MotorOnOffSwitch/[Dd]ebug
/TestProjIrControl/[Dd]ebug
/TestProj1/[Dd]ebug
/TestProj2/[Dd]ebug

/Camera/[Rr]elease
/MotorOnOffSwitch/[Rr]elease
/TestProjIrControl/[Rr]elease
/TestProj1/[Rr]elease
/TestProj2/[Rr]elease
/[Dd]ebug/*.xml
/[Rr]elease/*.iobj
/[Rr]elease/*.ipb
# except 
!/[Dd]ebug/
!/[Rr]elease/
!/FtLibs/[Dd]ebug/
!/FtLibs/[Rr]elease/

x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# If using the old MSBuild-Integrated Package Restore, uncomment this:
#!**/packages/repositories.config
