#gitignore for SolutionTxtLib in \txt_demo_c_online
#2020-07-29 v1.1.2.1 [CvL]
#

Documentation/
*.vcxproj.user
.vs/
# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
#special
/FtTxtLib/*
/FtTxtLibDll/*
/jpeg-9d/
/src/
/include/pch.h
/include/framework.h
SolutionTxtLib.sln
# except 
!/FtLibs/
!/FtLibs/[Dd]ebug/
!/FtLibs/[Rr]elease/


x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings 
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# If using the old MSBuild-Integrated Package Restore, uncomment this:
#!**/packages/repositories.config


